/**/*-private
/**/log.txt
/**/*history

/build/
/tmp/
/nbproject/
/dist/
/test/
/.classpath
/.project
/.settings/

/*.png
/*.html
/*.log
/*.zip
/*.out
/*.csv
/*.txt
/*.Rout
/*.Rdata
/*.Rmd
/*.exec
/target/
